/* styles.css */
.ReactModal__Overlay  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
  .ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1100;
    width: 80%;
    max-width: 700px;
   
    height: 550px;
    margin: auto;
    overflow: auto;
    
  }

  .title-from{
    
    font-weight: 500;
    margin: 0px 0px 10px 0px;
  }
  .loadding-update-icon{
    width: 20px;
    height: 20px;
    
  }

  .product-card {
   
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px 10px 0px 10px;
    background: white;
    border-radius: 10px;
}
 
.product-tumb img {
  align-items: center;
  justify-content: center;
  height: 220px;
  margin: 0px auto;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.delete-image-product {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  display: inline-block;
 
  border-radius: 5px;
  
  border: 1px solid #dfdfdf;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 3px 8px;
}

  /* Media query cho màn hình nhỏ hơn 768px */
  @media (max-width: 768px) {
    .ReactModal__Content {
      width: 90%; /* Điều chỉnh độ rộng cho màn hình nhỏ */
      padding: 15px; /* Giảm padding cho màn hình nhỏ */
    }
  }
  
  /* Media query cho màn hình nhỏ hơn 480px */
  @media (max-width: 480px) {
    .ReactModal__Content {
      width: 95%; /* Điều chỉnh độ rộng cho màn hình rất nhỏ */
      padding: 10px; /* Giảm padding thêm cho màn hình nhỏ */
    }
}